.contact {
    min-height: 600px;
    background-color: #4d77eb;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    padding: 35px;
    padding-left: 300px;
    padding-right: 300px;
    color: oldlace;

    h1 {
        font-size: 330%;
        display: block;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid oldlace;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #de9126;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
    //   .contact {
    //     border-radius: 5px;
    //     background-color: #f2f2f2;
    //     padding: 20px;
    //   }
}