.skills {
    min-height: 600px;
    background-color: #de9126;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    padding: 35px;
        
        h1 {
            font-size: 330%;
            display: block;
        }
        h4 {
            margin-top: 16px;
            font-size: 230%;
            display: block;
        }
        .section-container {
            display: flex;
            flex-direction: row;
            // min-height: 600px;
            justify-content: space-between;
           .text {
            width: 60%;
            font-size: 22px;
            color: oldlace;
           
            
        }
            .serve-img {
                background-image:  url(../images/serve.jpg);
                width: 35%;
                min-height: 400px;
                max-height: 600px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                margin: 0px;
                border-radius: 15px 15px 15px 15px;
            }
            .pass-img {
                background-image:  url(../images/pass.jpeg);
                width: 35%;
                min-height: 400px;
                max-height: 600px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                margin: 0px;
                border-radius: 15px 15px 15px 15px;
            }

            .set-img {
                background-image:  url(../images/set.jpg);
                width: 35%;
                min-height: 400px;
                max-height: 600px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                margin: 0px;
                border-radius: 15px 15px 15px 15px;
            }
        }
       
    
    

}